<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/style/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/style/home.css">
</head>
<body class="homecontainer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Advanced jobs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Popular jobs</a>
            </li>
          </ul>

        </div>
      </nav>
    <div class="upperBody">
      <div style="height: 150px;align-items: center;">

        <div class="center">
          <div class="search-box">
            <div class="form-outline">
              <label class="form-label" for="form1">Search</label>
              <input type="search" id="form1" class="form-control" />
              
            </div>
            <button type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

      </div>
    </div>  
    <div class="lowerBody">
        
    </div>  

</body>
</html>